:root {
  --bg-color: #000;
  --color1: #fff;
  --color2: red;
}

.light-theme {
  --bg-color: #fff;
  --color1: #000;
  --color2: red;
}

body {
  background-color: var(--bg-color);
  color: var(--color1);
}
