:root {
  --base-color: white;
  --text-color: #111528;
  /* demais variáveis */
}

.darkmode {
  --base-color: #070b1d;
  --text-color: #fff;
  /* demais variáveis do darkmode */
}

/* use as variáveis no CSS normal */
body {
  background-color: var(--base-color);
  color: var(--text-color); 
}

main {
  margin-top: 40px;
}
